@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Flex:opsz,wght@8..144,149;8..144,407;8..144,599&display=swap');

body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    background-color: #2196F3;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}

header button {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    background: none;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    margin: 20px;
    color: white;
    font-size: 20px;
}

header button:hover,
.filters__head button:hover {
    color: rgb(77, 76, 76);
}

.header button:active,
.filters__head button:active {
    color: rgb(77, 76, 76);
}

.main {
    box-sizing: border-box;
    margin: 24px;
    flex: 1;
    display: flex; 
    flex-direction: row;
}

.filters {
    border-radius: 4px;
    background: var(--background-paper-elevation-1, #FFF);

    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;

    padding: 16px;
    max-width: 300px;

    flex: 1;

    position: relative;
}

.header button,
.filters__head button {
    background: none;
    border: 0;
    cursor: pointer;
}

.filters__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
}

.filters__head_name {
    font-size: 20px;
}

.sorting {
    border-bottom: 1px solid rgba(0, 0, 0, 0.349);
    margin-top: 20px;
}

.sorting_pla {
    color: rgba(0, 0, 0, 0.596);
    font-size: 12px;
    margin-bottom: 5px;
}

select {
    cursor: pointer;
    outline: none;
    border: none;
    color: rgba(77, 64, 64, 1);
    font-size: 16px;
    margin-left: -4px;
    width: 100%;
    margin-bottom: 8px;
}

.genres {
    margin-top: 40px;
}

.genres_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.genres_reset {
    color: rgba(0, 0, 0, 0.753);
    margin-top: -2px;
    width: 55px;
    height: 25px;
    padding: 4px;
    padding-top: 1px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.062);
    cursor: pointer;
}

.genres_reset:hover {
    color: rgb(114, 27, 27);
    background-color: rgba(0, 0, 0, 0.137);
    border: 1px solid rgba(75, 8, 8, 0.452);
}

.genres_list {
    margin-top: 5px;
    max-height: 250px;
    overflow: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.137);
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
}

.genres label {
    margin-left: 5px;
}

.list_checkbox {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

input[type="checkbox" i] {
    width: 15px;
    height: 15px;
}

.pagination {
    background-color: rgb(109, 13, 13);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.year-release {
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 35px;
}

.card {
    width: 300px;
    height: 325;
    border-radius: 4px;
    background: var(--background-paper-elevation-1, #FFF);

    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.film_card {
    margin-left: 10px;
}

.card_pic {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    width: 100%;
}

.card_main {
    font-family: 'Roboto', sans-serif;
   
}

.card-description {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

.card_main-name {
    font-size: 24px;
}

.card_main-rating {
    margin-top: 4px;
    font-size: 14px;
}

.card_main-like {

}